.side-menu:hover{
    background-color: #40a7f1 ;
}

.folating-btn{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #FAFAFA;
    border: none;
    color: #315B87;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}
.floating-btn:hover{
    background-color: #315B87;
    color: #FAFAFA;
}